<h1>Hello</h1>
<ul>
  <% @links.each do |link| %>
  <li><strong>[RATING: <%= link.rating %>]</strong> <%= link.url %>
    <%= link_to "Edit Page", edit_link_path(link) %>
    <div>
      <ul>
      <% link.comments.each do |comment| %>
      <li id="<%= comment.id %>"> <%= comment.text %> by <%= User.find(comment.user_id).name %></li>
      <% end %>
    </ul>
    </div>
    </li>

  <% end %>
</ul>
